 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  filter: none;
  width: 704px;
  height: 543px;
  margin: 10px auto -143px 211px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 417px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 263px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}